<!-- This is the main base of the game where the card will be displayed -->
<div class="base-continer">
  <div class="base base-computer">
    <div class="player-indicator">Computer</div>
    <div class="score">Points : <span id="point-computer">0</span></div>
  </div>
  <div class="base base-player">
    <div class="player-indicator">Player</div>
    <div class="score">Points : <span id="point-player">0</span></div>
    <div class="btn-container">
      <button class="btn" id="btn-hit">Hit</button>
      <button class="btn" id="btn-stand">Stand</button>
    </div>
  </div>
</div>
