*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #101010;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 16px;
}

/* Starter Popup */

#lobby {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10000;
  position: absolute;
}

.btn-modal {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Button */

.btn {
  font-size: 16px;
  padding: 10px;
  min-width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  border: 0;
  margin: 10px;
  cursor: pointer;
}

.btn-container {
  width: max-content;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
}

/* Base */

.base-container {
  position: relative;
}

.base {
  width: 90%;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 10px auto;
}

.base-computer {
  position: absolute;
  top: 20px;
  min-height: 40%;
}

.base-player {
  position: absolute;
  bottom: 20px;
  min-height: 45%;
}

.player-indicator {
  font-size: 25px;
  width: max-content;
  margin: 0 auto;
}

.score {
  width: max-content;
  margin: 0 auto;
  font-size: 20px;
}

/* Card */

.card-container {
  display: flex;
}

.card-slot {
  margin: 10px;
  max-width: 10%;
  min-width: 90px;
}
.card-slot > img {
  width: 100%;
}

.card-slot {
  margin: 10px;
  max-width: 10%;
  min-width: 90px;
}

.card-slot > img {
  width: 100%;
}

#card-hide {
  content: url(../cards/card-back.svg);
}

/* Result Board */

#result-board {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 20;
}

.result-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 3px solid white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.result-content {
  text-align: center;
}

#result,
#blackjack {
  margin: 20px auto;
  text-transform: uppercase;
  font-weight: bold;
}

#blackjack {
  font-size: 40px;
}

#result {
  font-size: 25px;
}
